body {
    background-color: #E8E8EB;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 20%;
}

img {
    border: 5px solid #333; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: pulseAnimation 2s infinite alternate;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

img:hover {
    border-color: #FFD700; /* Yellow border on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.text {
    text-align: center;
}

.header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header li {
    margin-right: 20px;
}

.header li a {
    color: #fff;
    text-decoration: none;
}

.header li a:hover {
    color: #FFD700; /* Yellow on hover */
}

.header li a:active {
    color: #FFA500;
}

.header li a:visited {
    color: #8A2BE2;
}

span {
    font-size: 24px;
    margin-top: 20px;
    color: #FFA500;
}
