body{
    background-color: #99BC85;
}
.header{
    display: flex;
    list-style-type: none;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.header li {
    
    margin-right: 20px;
   
}
img{
    border: #99BC85 solid;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.container {
    display: flex;
    color: #fff;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 20%;
   
}
span{
    color: rgb(5, 3, 3);
}