body {
    margin-top: 0;
    background-color: #E8E8EB;
    font-family: Arial, sans-serif;
}

button {
    color: #fff;
    background-color: rgb(76, 189, 155); /* Custom green button color */
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(48, 148, 122); /* Darker green on hover */
}

.header {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header li {
    margin-right: 20px;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    color: #fff;
    line-height: 1.6;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05); /* Zoom in on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4); /* Increased shadow on hover */
}

#sectionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; /* Adjusted margin for centering */
    margin-bottom: 50px;
}

.profile {
    border-radius: 50%;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 50px auto; /* Centered and adjusted margin */
}

.box {
    width: calc(33.33% - 20px); /* Adjusted width to fit three boxes per row with spacing */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}
