*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background:#0f1228; 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: radial-gradient(circle, #0f1228, #000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fffefe;
    text-decoration: none;
    font-weight: 600;
}
/* Add a black background color to the top navigation */
.navbar {
   
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .navbar a:active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .navbar .icon {
    display: none;
  }
  


.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #fdfcfc;
    text-align: center;
    margin-top: 150px;
}

span {
    color: #FFA500; /* Orange color for the span */
}
.class img{
    height: 30%;
    width: 30%;
    

}
.think{
    margin-left: 5%;
}
.think img{
    width: 20%;
    height: 20%;
}

.box {
    background-color: #fff;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.box p{
    justify-content: center;
    align-items: center;
}

.box:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}
@media screen and (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .container {
        margin-top: 30px;
    }

    h1 {
        margin-top: 50px;
    }

    .think {
        margin-left: 10%;
    }

    .box {
        margin: 10px 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 20px 7%;
    }

    .container {
        margin-top: 50%;
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
        margin-top: 30px;
    }

    .think {
        margin-left: 10%;
    }

    .box {
        width: 70%;
        margin: 10px auto;
        margin-bottom: 100% auto;
        text-align: center;
        margin-left: 0;
       
    }
    .navbar a {
        font-size: 14px;
        padding: 10px;
    }
}
