*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background:#0f1228; 
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: radial-gradient(circle, #0f1228, #000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #fffefe;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px ;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .3s;
}
.navbar a:hover{
    background-color: #333;
    padding: 20px
}


.container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #fdfcfc;
    text-align: center;
    margin-top: 150px;
}

span {
    color: #FFA500; /* Orange color for the span */
}
.class img{
    height: 30%;
    width: 30%;
    

}
.think{
    margin-left: 40%;
}
.think img{
    width: 35%;
    height: 35%;
}

.box {
    background-color: #fff;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.box p{
    justify-content: center;
    align-items: center;
}

.box:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}
